<div>Autogenerator: {{ incrementorCount }}</div>
<div>Autogenerator Cost: {{ incrementorCost }}</div>
<button (click)="incrementorPurchase()">Purchase</button>
<button (click)="sale()" *ngIf="false">Sell</button>
<div *ngIf="incrementors.length > 0">
  Autogen Juice: {{ juice | number: '1.0-0'}}
  <div>
    <app-juice-management
      [value]="value"
      [juice]="juice"
      (addJuice)="addJuice($event)"
      (makePurchase)="otherPurchase($event)"
    ></app-juice-management>
  </div>
</div>
